@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #0b0b0b;
  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



/* Tailwind CSS for Top Menu Navbar.jsx */
.bg-gradient-to-r {
  background: linear-gradient(53deg, rgba(3, 117, 158, 0.11) 0%, rgba(8, 35, 44, 0.25) 82.44%), #0B0B0B;
}

.from-blue-100 {
  --tw-gradient-stops: var(--tw-gradient-colors-from-blue-100, #F0F4FF);
}

.to-blue-900 {
  --tw-gradient-stops: var(--tw-gradient-colors-to-blue-900, #1E3A8A);
}

.via-opacity-25 {
  --tw-gradient-stops: var(--tw-gradient-colors-via-opacity-25, rgba(0, 0, 0, 0.25));
}

.shadow {
  --tw-shadow: var(--tw-ring-shadow, 0 0 #0000);
  box-shadow: var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: var(--tw-ring-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.05));
  box-shadow: var(--tw-shadow);
}

/* App.jsx Intro Section */
.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}
  /* Date Box in Intro */
.rounded-3\.3xl {
  border-radius: 2.0625rem;
}

.border-2 {
  border-width: 2px;
}

.border-btn-stroke {
  border-color: var(--btn-stroke, #0479A0);
}

.bg-linear {
  background: var(--linear, linear-gradient(53deg, rgba(3, 117, 158, 0.11) 0%, rgba(8, 35, 44, 0.25) 82.44%));
}

.shadow-md {
  box-shadow: 0px 4px 4px 0px #3095A6;
}

.text-black {
  color: #000000;
}

/* About - App.jsx */
.main-about, .white-div {
border-radius: 2rem;
background: #FFF;
box-shadow: 0px 6px 60px 0px rgba(255, 255, 255, 0.43), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-half {
  background: url(./assets/about_top.jpg);
  background-position: 50% 50%;
}

/* Buttons */
.page-btns {
  border-radius: 0.5rem;
border: 2px solid var(--btn-stroke, #0479A0);
box-shadow: 0px 2px 10px 0px #3095A6;
}

/* Speakers */
.speakers-card {
  -webkit-box-shadow: 1px 0px 51px -10px rgba(40,40,41,1);
-moz-box-shadow: 1px 0px 51px -10px rgba(40,40,41,1);
box-shadow: 1px 0px 51px -10px rgba(40,40,41,1);
}

/* colors */
.border-gray-800 {
  border-color: rgb(31 41 55);
}

/* Blue BG */
.blue-gradbg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  align-self: stretch;
  background: var(--bg-blue-grad, linear-gradient(229deg, #DCEBED 0%, #87B7D5 41.29%, #295381 100%));
}

/* Text grad */
.text-grad {
  background: -webkit-linear-gradient(#000000, #03759E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Timeline */
table {
  border-collapse: separate;
  border-spacing: 20px;
}


tr {
  border-bottom: 1px solid black;
}

td {
  padding: 10px 0px;
}